@{
    ViewBag.Title = "About";
}

<div class="head">About</div>
<div class="about-content">
    <div class="image-container">
        <img src="~/Content/Images/norse.jpg" />
    </div>
    <div class="text-content">
        <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean libero nisi, aliquet at molestie sit amet, mattis vel nulla. Aenean faucibus eros eu placerat pretium. Maecenas rutrum nisl massa. Integer quis tempus purus. Nam semper sollicitudin magna quis malesuada. Sed erat erat, tincidunt eu vulputate sed, pellentesque nec elit. Nullam facilisis faucibus velit posuere interdum. Maecenas lacinia arcu ut consectetur imperdiet. Sed ultrices risus quis lectus aliquam, eu lobortis turpis aliquam. In porta velit at euismod ullamcorper. Integer in nibh leo.

            Sed dolor nisl, consequat et fringilla quis, sagittis ac tellus. Nulla quis odio quis justo auctor tincidunt et nec ante. Morbi et semper elit. Curabitur id risus dictum, ultricies odio eu, dictum augue. Etiam a felis leo. Proin sed viverra turpis, id dignissim odio. In vehicula, dui at porttitor euismod, mauris mi interdum ligula, sed commodo enim mi non diam. Donec tempor consequat neque, ac placerat turpis placerat eget. Nam ultrices sagittis leo, id euismod massa.

            Phasellus nec eleifend ligula. Vivamus sem felis, vulputate at pellentesque id, laoreet eu nisi. Cras quis nisl non tortor rhoncus pellentesque. Fusce tincidunt lobortis nisl, ut dignissim ipsum varius ac. Praesent non massa vitae ante euismod ornare quis eleifend odio. Aliquam vel posuere ligula. Aenean tincidunt tempus felis sit amet vestibulum. Donec rhoncus sed sem eu iaculis. Integer ac leo purus.

            Integer semper augue sed massa rutrum posuere. Morbi vestibulum hendrerit gravida. Phasellus scelerisque quis diam vel maximus. Morbi pellentesque nunc ac purus pellentesque elementum. Morbi ultrices odio non quam porttitor finibus. Praesent eget augue sagittis, iaculis elit eu, bibendum magna. Suspendisse fermentum nulla ac scelerisque vestibulum. Nunc diam elit, laoreet quis feugiat at, rhoncus eu mauris. Donec placerat tincidunt odio, a sodales massa. Donec et leo eget magna eleifend pharetra non ut lacus.

            Nullam facilisis viverra dolor quis rutrum. Sed vel lobortis justo, id rutrum mi. Curabitur luctus, ex eu mollis tincidunt, metus nisi commodo nunc, quis efficitur mauris mi non odio. Proin blandit ante at dui rutrum efficitur. Curabitur eget mi et nulla facilisis pellentesque. Donec ac egestas justo, eget ultricies dui. Nam dignissim, velit nec bibendum dictum, massa odio ullamcorper sem, eget pulvinar risus nisi eget ligula. Nunc pulvinar eget justo sed fringilla. Vivamus blandit, quam sit amet interdum ullamcorper, turpis ex bibendum libero, id semper ante erat at lacus.
        </span>
    </div>
</div>
