body {
    background-color: #0e3445;
    color: #cfbea0;
}

body a{
    color: #298f52;
}

body a:active{
    color: #d2691e;
}

body .block{
    background-color: #0a160b;
    border: 1px ridge #30200e;
}

